<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" verbose="1" parallel="false">

    <!-- Listeners for ExtentReports + Log4j -->
    <listeners>
        <listener class-name="utilities.ListenersUtil"/>
    </listeners>

    <!-- Test block for all tests -->
    <test name="RegressionTests">

        <!-- Include all test classes -->
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.DashboardTest"/>
            <class name="tests.AdminTest"/>
            <class name="tests.PimTest"/>
        </classes>

    </test>

</suite>
